/*Start - Set General*/
* {
  box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	position: relative;
	margin: auto;
}

.btn {
	border: 2px solid;
    border-radius: 25px;
    transition: all .5s ease;
}

.btn.btn-primary {
	padding: 10px 30px;
    margin: 0 10px;
}

.btn.btn-secondary {
	padding: 5px 20px;
	margin: 0 5px;
	font-size: 0.8em;
}

.btn.btn-boder-white {
	border-color: #fff;
	color: #fff;
}

.btn.btn-boder-color {
	border-color: #29d9c2;
	color: #29d9c2;
}

.btn.btn-boder-white:hover {
	color: #000;
	background-color: #fff;
}

.btn.btn-boder-color:hover {
	background-color: #29d9c2;
	color: #fff;
}

.btn.btn-full {
	border-color: #29d9c2;
	color: #fff;
	background-color: #29d9c2;
}

.container {
	max-width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	display: inline-block;
	position: relative;
    float: left;
    margin: auto;
}

.col-1 {
	width: 8.11%;
}
.col-2 {
	width: 16.44%;
}
.col-3 {
	width: 24.77%;
}
.col-4 {
	width: 33.11%;
}
.col-5 {
	width: 41.44%;
}
.col-6 {
	width: 49.77%;
}
.col-7 {
	width: 58.11%;
}
.col-8 {
	width: 66.44%;
}
.col-9 {
	width: 74.77%;
}
.col-10 {
	width: 83.11%;
}
.col-11 {
	width: 91.44%;
}
.col-12, .row {
	width: 100%;
}

/*End - Set col for website*/

/*Start - Menu bar*/
#topbar.row-nav-top-bar {
	padding: 20px 35px;
}

#topbar .col-info, .col-login {
	padding: 20px 10px;
}

#topbar .col-info label {
	padding: 10px 20px;
}

#topbar .col-login {
	float: right;
	text-align: right;
    padding-right: 30px;
}

.language img {
	max-width: 20px;
	vertical-align: middle;
}

#topbar .col-line-top-bar hr {
	width: 95%;
}

.row-nav-menu-bar {
	background: #fff;
    padding: 20px 0 0 0;
}

.row-nav-menu-bar .col-menu-social {
	float: right;
}

.row-nav-menu-bar .col-logo {
	text-align: center;
    top: 7px;
}

.col-logo .logo {
	max-width: 80px;
}

.col-menu .menu {
	font-size: 0.9em;
}

.list {
	display: inline-block;
}

.menu .list.list-menu {
	padding: 0 20px;
}

.menu .list-menu:first-child {
	padding-left: 0;
}

.menu-social-icon .list-social {
	padding: 0 10px;
}

.menu-social-icon .list-social a, .menu .list-menu a {
	color: #000;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

#navbar.row-nav-menu-bar.sticky {
	background: #ffffffd9;
}

#navbar {
  overflow: hidden;
}
/*End - Menu Bar*/
/*Start - Slide show*/
.slide-content {
	position: absolute;
    top: 250px;
}

.col-slide {
	padding: 5%;
}

.slide {
	display: none;
}

.slide-content h1 {
	color: #fff;
}

.dot {
  	cursor:pointer;
  	height: 8px;
  	width: 8px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #fff;
}

.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 2s;
  	animation-name: fade;
  	animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
 
@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}